In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession,SQLContext
from pyspark.context import SparkContext
import pandas as pd
import numpy as np
from pyspark.sql.functions import *

In [5]:
spark=SparkSession.builder.appName('Covid-Example').getOrCreate()

In [6]:
spark

In [7]:
cases=spark.read.load("./Case.csv",format="csv",inferSchema=True,Header=True)
cases.show()

+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| case_id|province|           city|group|      infection_case|confirmed| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|       41|37.481059|126.894343|
| 1000007|   Seoul|from other city| true|SMR Newly Planted...|       36|        -|         -|
| 1000008|   Seoul|  Dongdaemun-gu| true|       Dongan Church|       17|37.592888|127.056766|
| 1000009|   Seoul|from other city| true|Coupang Logistics...|       25|        -|         -|
| 1000010|   Seoul|      Gwanak-gu| true|     Wangsung Church|       30|37.481735|126.930121|
| 1000011|   Seoul|   Eunpyeong-gu| true|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|
| 1000012|   Seoul|   Seongdong-gu| true|    Seongdong-gu APT|       13| 37.55713|  127.0403|
| 1000013|   Seoul|      Jongno-gu| true|Jongno Community ...|       10| 37.57681|   127.006|
| 1000014|   Seoul|     Gangnam-gu| true|Samsung Medical C...|        7| 37.48825| 127.08559|
| 1000015|   Seoul|        Jung-gu| true|Jung-gu Fashion C...|        7|37.562405|126.984377|
| 1000016|   Seoul|   Seodaemun-gu| true|  Yeonana News Class|        5|37.558147|126.943799|
| 1000017|   Seoul|      Jongno-gu| true|Korea Campus Crus...|        7|37.594782|126.968022|
| 1000018|   Seoul|     Gangnam-gu| true|Gangnam Yeoksam-d...|        6|        -|         -|
| 1000019|   Seoul|from other city| true|Daejeon door-to-d...|        1|        -|         -|
| 1000020|   Seoul|   Geumcheon-gu| true|Geumcheon-gu rice...|        6|        -|         -|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
only showing top 20 rows

In [8]:
cases.limit(10).toPandas()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374
5,1000006,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
6,1000007,Seoul,from other city,True,SMR Newly Planted Churches Group,36,-,-
7,1000008,Seoul,Dongdaemun-gu,True,Dongan Church,17,37.592888,127.056766
8,1000009,Seoul,from other city,True,Coupang Logistics Center,25,-,-
9,1000010,Seoul,Gwanak-gu,True,Wangsung Church,30,37.481735,126.930121

In [9]:
cases.withColumnRenamed("infection_case","infection_source").show()

+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| case_id|province|           city|group|    infection_source|confirmed| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|       41|37.481059|126.894343|
| 1000007|   Seoul|from other city| true|SMR Newly Planted...|       36|        -|         -|
| 1000008|   Seoul|  Dongdaemun-gu| true|       Dongan Church|       17|37.592888|127.056766|
| 1000009|   Seoul|from other city| true|Coupang Logistics...|       25|        -|         -|
| 1000010|   Seoul|      Gwanak-gu| true|     Wangsung Church|       30|37.481735|126.930121|
| 1000011|   Seoul|   Eunpyeong-gu| true|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|
| 1000012|   Seoul|   Seongdong-gu| true|    Seongdong-gu APT|       13| 37.55713|  127.0403|
| 1000013|   Seoul|      Jongno-gu| true|Jongno Community ...|       10| 37.57681|   127.006|
| 1000014|   Seoul|     Gangnam-gu| true|Samsung Medical C...|        7| 37.48825| 127.08559|
| 1000015|   Seoul|        Jung-gu| true|Jung-gu Fashion C...|        7|37.562405|126.984377|
| 1000016|   Seoul|   Seodaemun-gu| true|  Yeonana News Class|        5|37.558147|126.943799|
| 1000017|   Seoul|      Jongno-gu| true|Korea Campus Crus...|        7|37.594782|126.968022|
| 1000018|   Seoul|     Gangnam-gu| true|Gangnam Yeoksam-d...|        6|        -|         -|
| 1000019|   Seoul|from other city| true|Daejeon door-to-d...|        1|        -|         -|
| 1000020|   Seoul|   Geumcheon-gu| true|Geumcheon-gu rice...|        6|        -|         -|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
only showing top 20 rows

In [10]:
cases=cases.toDF(*['case_id','province','city','group','infection_source','confirmed','latitude','longitude'])
cases.show()

+-------+--------+---------------+-----+--------------------+---------+---------+----------+
|case_id|province|           city|group|    infection_source|confirmed| latitude| longitude|
+-------+--------+---------------+-----+--------------------+---------+---------+----------+
|1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
|1000002|   Seoul|      Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
|1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
|1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
|1000005|   Seoul|      Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
|1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|       41|37.481059|126.894343|
|1000007|   Seoul|from other city| true|SMR Newly Planted...|       36|        -|         -|
|1000008|   Seoul|  Dongdaemun-gu| true|       Dongan Church|       17|37.592888|127.056766|
|1000009|   Seoul|from other city| true|Coupang Logistics...|       25|        -|         -|
|1000010|   Seoul|      Gwanak-gu| true|     Wangsung Church|       30|37.481735|126.930121|
|1000011|   Seoul|   Eunpyeong-gu| true|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|
|1000012|   Seoul|   Seongdong-gu| true|    Seongdong-gu APT|       13| 37.55713|  127.0403|
|1000013|   Seoul|      Jongno-gu| true|Jongno Community ...|       10| 37.57681|   127.006|
|1000014|   Seoul|     Gangnam-gu| true|Samsung Medical C...|        7| 37.48825| 127.08559|
|1000015|   Seoul|        Jung-gu| true|Jung-gu Fashion C...|        7|37.562405|126.984377|
|1000016|   Seoul|   Seodaemun-gu| true|  Yeonana News Class|        5|37.558147|126.943799|
|1000017|   Seoul|      Jongno-gu| true|Korea Campus Crus...|        7|37.594782|126.968022|
|1000018|   Seoul|     Gangnam-gu| true|Gangnam Yeoksam-d...|        6|        -|         -|
|1000019|   Seoul|from other city| true|Daejeon door-to-d...|        1|        -|         -|
|1000020|   Seoul|   Geumcheon-gu| true|Geumcheon-gu rice...|        6|        -|         -|
+-------+--------+---------------+-----+--------------------+---------+---------+----------+
only showing top 20 rows

In [11]:
type(cases)

pyspark.sql.dataframe.DataFrame

In [12]:
cases=cases.select(['case_id','province','city','confirmed'])
cases.show()

+-------+--------+---------------+---------+
|case_id|province|           city|confirmed|
+-------+--------+---------------+---------+
|1000001|   Seoul|     Yongsan-gu|      139|
|1000002|   Seoul|      Gwanak-gu|      119|
|1000003|   Seoul|        Guro-gu|       95|
|1000004|   Seoul|   Yangcheon-gu|       43|
|1000005|   Seoul|      Dobong-gu|       43|
|1000006|   Seoul|        Guro-gu|       41|
|1000007|   Seoul|from other city|       36|
|1000008|   Seoul|  Dongdaemun-gu|       17|
|1000009|   Seoul|from other city|       25|
|1000010|   Seoul|      Gwanak-gu|       30|
|1000011|   Seoul|   Eunpyeong-gu|       14|
|1000012|   Seoul|   Seongdong-gu|       13|
|1000013|   Seoul|      Jongno-gu|       10|
|1000014|   Seoul|     Gangnam-gu|        7|
|1000015|   Seoul|        Jung-gu|        7|
|1000016|   Seoul|   Seodaemun-gu|        5|
|1000017|   Seoul|      Jongno-gu|        7|
|1000018|   Seoul|     Gangnam-gu|        6|
|1000019|   Seoul|from other city|        1|
|1000020|   Seoul|   Geumcheon-gu|        6|
+-------+--------+---------------+---------+
only showing top 20 rows

In [13]:
cases.sort('confirmed').show()

+-------+-----------------+---------------+---------+
|case_id|         province|           city|confirmed|
+-------+-----------------+---------------+---------+
|7000002|          Jeju-do|              -|        0|
|3000007|       Gangwon-do|              -|        0|
|1000030|            Seoul|     Gangseo-gu|        0|
|1100007|            Busan|from other city|        1|
|5000003|     Jeollabuk-do|from other city|        1|
|1000028|            Seoul|from other city|        1|
|1000025|            Seoul|     Gangnam-gu|        1|
|1700003|           Sejong|from other city|        1|
|5100002|     Jeollanam-do|from other city|        1|
|7000004|          Jeju-do|from other city|        1|
|1000019|            Seoul|from other city|        1|
|1000034|            Seoul|              -|        1|
|1700006|           Sejong|              -|        1|
|1300005|          Gwangju|              -|        1|
|1200006|            Daegu|from other city|        2|
|1200007|            Daegu|from other city|        2|
|1400004|          Incheon|from other city|        2|
|1000033|            Seoul|from other city|        2|
|1500006|          Daejeon|from other city|        2|
|4000003|Chungcheongbuk-do|from other city|        2|
+-------+-----------------+---------------+---------+
only showing top 20 rows

In [14]:
from pyspark.sql import functions as F
cases.sort(F.desc('confirmed')).show()

+-------+-----------------+---------------+---------+
|case_id|         province|           city|confirmed|
+-------+-----------------+---------------+---------+
|1200001|            Daegu|         Nam-gu|     4511|
|1200009|            Daegu|              -|      917|
|1200010|            Daegu|              -|      747|
|6000001| Gyeongsangbuk-do|from other city|      566|
|2000020|      Gyeonggi-do|              -|      305|
|1000036|            Seoul|              -|      298|
|1200002|            Daegu|   Dalseong-gun|      196|
|6000012| Gyeongsangbuk-do|              -|      190|
|1000037|            Seoul|              -|      162|
|1000001|            Seoul|     Yongsan-gu|      139|
|6000013| Gyeongsangbuk-do|              -|      133|
|1200003|            Daegu|         Seo-gu|      124|
|1000002|            Seoul|      Gwanak-gu|      119|
|6000002| Gyeongsangbuk-do|   Cheongdo-gun|      119|
|4100001|Chungcheongnam-do|     Cheonan-si|      103|
|1200004|            Daegu|   Dalseong-gun|      101|
|1000038|            Seoul|              -|      100|
|1000003|            Seoul|        Guro-gu|       95|
|2000022|      Gyeonggi-do|              -|       84|
|1400005|          Incheon|              -|       68|
+-------+-----------------+---------------+---------+
only showing top 20 rows

In [15]:
from pyspark.sql.types import IntegerType,FloatType,StringType

In [16]:
cases=cases.withColumn('confirmed',F.column('confirmed').cast(IntegerType()))
cases.show()

+-------+--------+---------------+---------+
|case_id|province|           city|confirmed|
+-------+--------+---------------+---------+
|1000001|   Seoul|     Yongsan-gu|      139|
|1000002|   Seoul|      Gwanak-gu|      119|
|1000003|   Seoul|        Guro-gu|       95|
|1000004|   Seoul|   Yangcheon-gu|       43|
|1000005|   Seoul|      Dobong-gu|       43|
|1000006|   Seoul|        Guro-gu|       41|
|1000007|   Seoul|from other city|       36|
|1000008|   Seoul|  Dongdaemun-gu|       17|
|1000009|   Seoul|from other city|       25|
|1000010|   Seoul|      Gwanak-gu|       30|
|1000011|   Seoul|   Eunpyeong-gu|       14|
|1000012|   Seoul|   Seongdong-gu|       13|
|1000013|   Seoul|      Jongno-gu|       10|
|1000014|   Seoul|     Gangnam-gu|        7|
|1000015|   Seoul|        Jung-gu|        7|
|1000016|   Seoul|   Seodaemun-gu|        5|
|1000017|   Seoul|      Jongno-gu|        7|
|1000018|   Seoul|     Gangnam-gu|        6|
|1000019|   Seoul|from other city|        1|
|1000020|   Seoul|   Geumcheon-gu|        6|
+-------+--------+---------------+---------+
only showing top 20 rows

In [17]:
cases=cases.withColumn('city',F.column('city').cast(StringType()))
cases.show()

+-------+--------+---------------+---------+
|case_id|province|           city|confirmed|
+-------+--------+---------------+---------+
|1000001|   Seoul|     Yongsan-gu|      139|
|1000002|   Seoul|      Gwanak-gu|      119|
|1000003|   Seoul|        Guro-gu|       95|
|1000004|   Seoul|   Yangcheon-gu|       43|
|1000005|   Seoul|      Dobong-gu|       43|
|1000006|   Seoul|        Guro-gu|       41|
|1000007|   Seoul|from other city|       36|
|1000008|   Seoul|  Dongdaemun-gu|       17|
|1000009|   Seoul|from other city|       25|
|1000010|   Seoul|      Gwanak-gu|       30|
|1000011|   Seoul|   Eunpyeong-gu|       14|
|1000012|   Seoul|   Seongdong-gu|       13|
|1000013|   Seoul|      Jongno-gu|       10|
|1000014|   Seoul|     Gangnam-gu|        7|
|1000015|   Seoul|        Jung-gu|        7|
|1000016|   Seoul|   Seodaemun-gu|        5|
|1000017|   Seoul|      Jongno-gu|        7|
|1000018|   Seoul|     Gangnam-gu|        6|
|1000019|   Seoul|from other city|        1|
|1000020|   Seoul|   Geumcheon-gu|        6|
+-------+--------+---------------+---------+
only showing top 20 rows

In [18]:
cases.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- confirmed: integer (nullable = true)

In [19]:
cases.filter((cases.confirmed>0) & (cases.city=='Yongsan-gu')).show()

+-------+--------+----------+---------+
|case_id|province|      city|confirmed|
+-------+--------+----------+---------+
|1000001|   Seoul|Yongsan-gu|      139|
+-------+--------+----------+---------+

In [20]:
cases.groupBy(['province','city']).agg(F.sum('confirmed').alias('Total confirmed'),F.max('confirmed').alias('Maximum confirmed')).show()

+----------------+---------------+---------------+-----------------+
|        province|           city|Total confirmed|Maximum confirmed|
+----------------+---------------+---------------+-----------------+
|Gyeongsangnam-do|       Jinju-si|              9|                9|
|           Seoul|        Guro-gu|            139|               95|
|           Seoul|     Gangnam-gu|             18|                7|
|         Daejeon|              -|            100|               55|
|    Jeollabuk-do|from other city|              6|                3|
|Gyeongsangnam-do|Changnyeong-gun|              7|                7|
|           Seoul|              -|            561|              298|
|         Jeju-do|from other city|              1|                1|
|Gyeongsangbuk-do|              -|            345|              190|
|Gyeongsangnam-do|   Geochang-gun|             18|               10|
|Gyeongsangbuk-do|        Gumi-si|             10|               10|
|         Incheon|from other city|            117|               53|
|           Busan|              -|             85|               36|
|           Daegu|         Seo-gu|            124|              124|
|           Busan|     Suyeong-gu|              5|                5|
|     Gyeonggi-do|   Uijeongbu-si|             50|               50|
|           Seoul|     Yongsan-gu|            139|              139|
|           Daegu|              -|           1705|              917|
|           Seoul|   Seodaemun-gu|              5|                5|
|     Gyeonggi-do|    Seongnam-si|             94|               67|
+----------------+---------------+---------------+-----------------+
only showing top 20 rows

In [22]:
region=spark.read.load("./Region.csv",format="csv",inferSchema=True,header=True)
region.show()

+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
| code|province|         city| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|10000|   Seoul|        Seoul|37.566953|126.977977|                    607|               830|              48|         1.44|                   15.38|                5.8|             22739|
|10010|   Seoul|   Gangnam-gu|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|10020|   Seoul|  Gangdong-gu|37.530492|127.123837|                     27|                32|               0|         1.54|                   14.55|                5.4|              1023|
|10030|   Seoul|   Gangbuk-gu|37.639938|127.025508|                     14|                21|               0|         0.67|                   19.49|                8.5|               628|
|10040|   Seoul|   Gangseo-gu|37.551166|126.849506|                     36|                56|               1|         1.17|                   14.39|                5.7|              1080|
|10050|   Seoul|    Gwanak-gu| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|10060|   Seoul|  Gwangjin-gu|37.538712|127.082366|                     22|                33|               3|         1.16|                   13.75|                4.8|               723|
|10070|   Seoul|      Guro-gu|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|10080|   Seoul| Geumcheon-gu|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|
|10090|   Seoul|     Nowon-gu|37.654259|127.056294|                     42|                66|               6|         1.39|                    15.4|                7.4|               952|
|10100|   Seoul|    Dobong-gu|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|
|10110|   Seoul|Dongdaemun-gu|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|
|10120|   Seoul|   Dongjak-gu|37.510571|126.963604|                     21|                34|               3|         1.17|                   15.85|                5.2|               762|
|10130|   Seoul|      Mapo-gu|37.566283|126.901644|                     22|                24|               2|         1.83|                   14.05|                4.9|               929|
|10140|   Seoul| Seodaemun-gu|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|
|10150|   Seoul|    Seocho-gu|37.483804|127.032693|                     24|                27|               1|          2.6|                   13.39|                3.8|              1465|
|10160|   Seoul| Seongdong-gu|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|
|10170|   Seoul|  Seongbuk-gu|37.589562|  127.0167|                     29|                49|               6|         1.02|                   16.15|                6.0|               729|
|10180|   Seoul|    Songpa-gu| 37.51462|127.106141|                     40|                51|               1|         1.65|                    13.1|                4.1|              1527|
|10190|   Seoul| Yangcheon-gu|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|
+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
only showing top 20 rows

In [26]:
cases=cases.join(region,["province","city"],how="left")
cases.show()

+--------+---------------+-------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|province|           city|case_id|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+--------+---------------+-------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|   Seoul|     Yongsan-gu|1000001|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|
|   Seoul|      Gwanak-gu|1000002|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|        Guro-gu|1000003|       95|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|   Seoul|   Yangcheon-gu|1000004|       43|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|
|   Seoul|      Dobong-gu|1000005|       43|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|
|   Seoul|        Guro-gu|1000006|       41|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|   Seoul|from other city|1000007|       36| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|  Dongdaemun-gu|1000008|       17|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|
|   Seoul|from other city|1000009|       25| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|      Gwanak-gu|1000010|       30|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|   Eunpyeong-gu|1000011|       14|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|
|   Seoul|   Seongdong-gu|1000012|       13|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|
|   Seoul|      Jongno-gu|1000013|       10|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu|1000014|        7|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|        Jung-gu|1000015|        7|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|
|   Seoul|   Seodaemun-gu|1000016|        5|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|
|   Seoul|      Jongno-gu|1000017|        7|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu|1000018|        6|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|from other city|1000019|        1| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|   Geumcheon-gu|1000020|        6|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|
+--------+---------------+-------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
only showing top 20 rows

In [27]:
from pyspark.sql import functions as F
cases=cases.withColumn("New confirmed", F.col('confirmed')+200)
cases.show()

+--------+---------------+-------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------------+
|province|           city|case_id|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|New confirmed|
+--------+---------------+-------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------------+
|   Seoul|     Yongsan-gu|1000001|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|          339|
|   Seoul|      Gwanak-gu|1000002|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|          319|
|   Seoul|        Guro-gu|1000003|       95|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|          295|
|   Seoul|   Yangcheon-gu|1000004|       43|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|          243|
|   Seoul|      Dobong-gu|1000005|       43|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|          243|
|   Seoul|        Guro-gu|1000006|       41|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|          241|
|   Seoul|from other city|1000007|       36| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|          236|
|   Seoul|  Dongdaemun-gu|1000008|       17|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|          217|
|   Seoul|from other city|1000009|       25| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|          225|
|   Seoul|      Gwanak-gu|1000010|       30|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|          230|
|   Seoul|   Eunpyeong-gu|1000011|       14|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|          214|
|   Seoul|   Seongdong-gu|1000012|       13|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|          213|
|   Seoul|      Jongno-gu|1000013|       10|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|          210|
|   Seoul|     Gangnam-gu|1000014|        7|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|          207|
|   Seoul|        Jung-gu|1000015|        7|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|          207|
|   Seoul|   Seodaemun-gu|1000016|        5|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|          205|
|   Seoul|      Jongno-gu|1000017|        7|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|          207|
|   Seoul|     Gangnam-gu|1000018|        6|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|          206|
|   Seoul|from other city|1000019|        1| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|          201|
|   Seoul|   Geumcheon-gu|1000020|        6|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|          206|
+--------+---------------+-------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------------+
only showing top 20 rows

In [36]:
def convert(confirm):
   
    if confirm > 50:
        return "High"
    else:
        return "Low"
HighLow_f=F.udf(convert, StringType())
cases=cases.withColumn('test', HighLow_f('confirmed'))                                            
cases.show()

+--------+---------------+-------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------------+-------+----+
|province|           city|case_id|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|New confirmed|HighLow|test|
+--------+---------------+-------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------------+-------+----+
|   Seoul|     Yongsan-gu|1000001|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|          339|   High|High|
|   Seoul|      Gwanak-gu|1000002|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|          319|   High|High|
|   Seoul|        Guro-gu|1000003|       95|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|          295|   High|High|
|   Seoul|   Yangcheon-gu|1000004|       43|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|          243|    Low| Low|
|   Seoul|      Dobong-gu|1000005|       43|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|          243|    Low| Low|
|   Seoul|        Guro-gu|1000006|       41|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|          241|    Low| Low|
|   Seoul|from other city|1000007|       36| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|          236|    Low| Low|
|   Seoul|  Dongdaemun-gu|1000008|       17|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|          217|    Low| Low|
|   Seoul|from other city|1000009|       25| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|          225|    Low| Low|
|   Seoul|      Gwanak-gu|1000010|       30|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|          230|    Low| Low|
|   Seoul|   Eunpyeong-gu|1000011|       14|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|          214|    Low| Low|
|   Seoul|   Seongdong-gu|1000012|       13|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|          213|    Low| Low|
|   Seoul|      Jongno-gu|1000013|       10|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|          210|    Low| Low|
|   Seoul|     Gangnam-gu|1000014|        7|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|          207|    Low| Low|
|   Seoul|        Jung-gu|1000015|        7|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|          207|    Low| Low|
|   Seoul|   Seodaemun-gu|1000016|        5|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|          205|    Low| Low|
|   Seoul|      Jongno-gu|1000017|        7|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|          207|    Low| Low|
|   Seoul|     Gangnam-gu|1000018|        6|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|          206|    Low| Low|
|   Seoul|from other city|1000019|        1| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|          201|    Low| Low|
|   Seoul|   Geumcheon-gu|1000020|        6|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|          206|    Low| Low|
+--------+---------------+-------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------------+-------+----+
only showing top 20 rows

In [32]:
cases.printSchema()

root
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- case_id: integer (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- code: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- elementary_school_count: integer (nullable = true)
 |-- kindergarten_count: integer (nullable = true)
 |-- university_count: integer (nullable = true)
 |-- academy_ratio: double (nullable = true)
 |-- elderly_population_ratio: double (nullable = true)
 |-- elderly_alone_ratio: double (nullable = true)
 |-- nursing_home_count: integer (nullable = true)
 |-- New confirmed: integer (nullable = true)
 |-- HighLow: string (nullable = true)