<b style="color: #3498db; font-size: 18px;">The following things will be covered in this part</b>
<ul>
    <li> Create a session in pyspark </li>
    <li> Read a CSV File </li>
    <li> Filter function</li>
    <li> and, or, not operator in filter function</li>
</ul>

In [9]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()
spark

<b style="color: #3498db; font-size: 18px;">Read a csv file</b>

In [2]:
df_pyspark=spark.read.csv('test4.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Subhanshu| 30|         8| 25000|
|    Sunny| 29|         7| 20000|
|     Paul| 24|         6| 20000|
|   Harsha| 21|         4| 15000|
|  Shubham| 23|         5| 18000|
+---------+---+----------+------+

<b style="color: #3498db; font-size: 18px;">FILTER FUNCTION</b>

In [3]:
df_pyspark.filter('Salary>20000').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Subhanshu| 30|         8| 25000|
+---------+---+----------+------+

<b style="color: #3498db; font-size: 18px;">AND (&) OPERATOR</b>

In [5]:
df_pyspark.filter((df_pyspark['Salary']>15000) & (df_pyspark['Age']>24)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Subhanshu| 30|         8| 25000|
|    Sunny| 29|         7| 20000|
+---------+---+----------+------+

<b style="color: #3498db; font-size: 18px;">OR (|) OPERATOR</b>

In [6]:
df_pyspark.filter((df_pyspark['Salary']<20000) | (df_pyspark['Age']>30)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Krish| 31|        10| 30000|
| Harsha| 21|         4| 15000|
|Shubham| 23|         5| 18000|
+-------+---+----------+------+

In [7]:
df_pyspark.filter((df_pyspark['Salary']<20000) | (df_pyspark['Age']>30)).select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Krish| 31|
| Harsha| 21|
|Shubham| 23|
+-------+---+

<b style="color: #3498db; font-size: 18px;">NOT (~) OPERATOR</b>

In [8]:
df_pyspark.filter(~((df_pyspark['Salary']<20000) | (df_pyspark['Age']>30))).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Subhanshu| 30|         8| 25000|
|    Sunny| 29|         7| 20000|
|     Paul| 24|         6| 20000|
+---------+---+----------+------+