 ### In this file, following things will be covered
 <ul> 
    <li>Read a Csv file</li>
    <li>Check data types</li>
    <li>Head and Tail Function</li>
    
 </ul>

In [1]:
import pyspark

### Create a session

In [8]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()
spark

# Read a csv file using pyspark

In [3]:
df_pyspark=spark.read.csv("test1.csv")
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|Age|
|    Krish| 31|
|Subhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

<b style="color: #3498db; font-size: 18px;"> First row will be created as the header of the dataframe, if we use header=True </b>

In [4]:
df_pyspark=spark.read.csv("test1.csv",header=True)
df_pyspark.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Krish| 31|
|Subhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

<b style="color: #3498db; font-size: 18px;"> Check datatypes using printSchema function </b>

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

<b style="color: #e67e22; font-size: 18px;"> Here our age column data is number but here shows that it is string. To fix it we have to use inferSchema=True to maintain our data type</b>

In [6]:
df_pyspark=spark.read.csv("test1.csv",header=True,inferSchema=True)
df_pyspark.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Krish| 31|
|Subhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

<b style="color: #3498db; font-size: 18px;">Check type of the dataframe </b>

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

<b style="color: #3498db; font-size: 18px;"> Check dataTypes of the columns</b>

In [10]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

<b style="color: #3498db; font-size: 18px;">Head and Tail function in pyspark</b>

In [15]:
df_pyspark.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Krish| 31|
|Subhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [12]:
df_pyspark.head(5)

[Row(Name='Krish', Age=31),
 Row(Name='Subhanshu', Age=30),
 Row(Name='Sunny', Age=29),
 Row(Name='Paul', Age=24),
 Row(Name='Harsha', Age=21)]

In [19]:
df_pyspark.tail(1)

[Row(Name='Shubham', Age=23)]

In [20]:
df_pyspark.tail(2)

[Row(Name='Harsha', Age=21), Row(Name='Shubham', Age=23)]

<b style="color: #3498db; font-size: 18px;"> Describe function in pyspark </b>

In [24]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string]

In [25]:
df_pyspark.describe().show()

+-------+------+------------------+
|summary|  Name|               Age|
+-------+------+------------------+
|  count|     6|                 6|
|   mean|  null|26.333333333333332|
| stddev|  null| 4.179314138308661|
|    min|Harsha|                21|
|    max| Sunny|                31|
+-------+------+------------------+