<b style="color: #3498db; font-size: 18px;">The following things will be covered in this part</b>
<ul>
    <li> Create a session in pyspark </li>
    <li> Read a CSV File </li>
    <li> Drop null value </li>
    <li> Fill null value</li>
    <li> Fill null value using imputer function </li>
</ul>

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()
spark

<b style="color: #3498db; font-size: 18px;">READ A CSV FILE</b>

In [2]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Subhanshu|  30|         8| 25000|
|    Sunny|  29|         7| 20000|
|     Paul|  24|         6| 20000|
|   Harsha|  21|         4| 15000|
|  Shubham|  23|         5| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

<b style="color: #3498db; font-size: 18px;">DROP ALL NULL VALUES</b>

In [3]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Subhanshu| 30|         8| 25000|
|    Sunny| 29|         7| 20000|
|     Paul| 24|         6| 20000|
|   Harsha| 21|         4| 15000|
|  Shubham| 23|         5| 18000|
+---------+---+----------+------+

### drop function has some parameter e.g. how, thresh, subset

<b style="color: #3498db; font-size: 18px;">how = any / all</b>

* by defalut how =any; means if any null value is present in a row then drop it
* how = all; means that if a row contains null value in its all columns then drop it

In [4]:
df_pyspark.na.drop(how='any').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Subhanshu| 30|         8| 25000|
|    Sunny| 29|         7| 20000|
|     Paul| 24|         6| 20000|
|   Harsha| 21|         4| 15000|
|  Shubham| 23|         5| 18000|
+---------+---+----------+------+

In [5]:
df_pyspark.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Subhanshu|  30|         8| 25000|
|    Sunny|  29|         7| 20000|
|     Paul|  24|         6| 20000|
|   Harsha|  21|         4| 15000|
|  Shubham|  23|         5| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

<b style="color: #3498db; font-size: 18px;">thresh</b>
* thresh=2 means atleast 2 column values will be non null.
* thresh=3 means atleast 3 column values will be non null.
* thresh=4 means atleast 4 column values will be non null.

In [6]:
df_pyspark.na.drop(how='any',thresh=2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Subhanshu|  30|         8| 25000|
|    Sunny|  29|         7| 20000|
|     Paul|  24|         6| 20000|
|   Harsha|  21|         4| 15000|
|  Shubham|  23|         5| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

<b style="color: #3498db; font-size: 18px;">Subset</b>
* subset='age' means that drop that row where age column value is null.

In [7]:
df_pyspark.na.drop(how='any',subset='age').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Subhanshu| 30|         8| 25000|
|    Sunny| 29|         7| 20000|
|     Paul| 24|         6| 20000|
|   Harsha| 21|         4| 15000|
|  Shubham| 23|         5| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

In [10]:
df_pyspark.fillna('Missing value').show()

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|        Krish|  31|        10| 30000|
|    Subhanshu|  30|         8| 25000|
|        Sunny|  29|         7| 20000|
|         Paul|  24|         6| 20000|
|       Harsha|  21|         4| 15000|
|      Shubham|  23|         5| 18000|
|       Mahesh|null|      null| 40000|
|Missing value|  34|        10| 38000|
|Missing value|  36|      null|  null|
+-------------+----+----------+------+

In [11]:
df_pyspark.fillna(10,['age','experience','salary']).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Subhanshu| 30|         8| 25000|
|    Sunny| 29|         7| 20000|
|     Paul| 24|         6| 20000|
|   Harsha| 21|         4| 15000|
|  Shubham| 23|         5| 18000|
|   Mahesh| 10|        10| 40000|
|     null| 34|        10| 38000|
|     null| 36|        10|    10|
+---------+---+----------+------+

<b style="color: #3498db; font-size: 18px;">IMPUTER FUNCTION TO FILL NULL VALUES</b>

In [12]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy('mean')

In [13]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Subhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         7| 20000|         29|                 7|         20000|
|     Paul|  24|         6| 20000|         24|                 6|         20000|
|   Harsha|  21|         4| 15000|         21|                 4|         15000|
|  Shubham|  23|         5| 18000|         23|                 5|         18000|
|   Mahesh|null|      null| 40000|         28|                 7|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 7|         25750|
+---------+----+----------+------+-----------+------------------+--------------+