<b style="color: #3498db; font-size: 18px;">The following things will be covered in this part</b>
<ul>
    <li> Create a session in pyspark </li>
    <li> Read a CSV File </li>
    <li> GroupBy</li>
    <li> Aggr</li>
</ul>

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()
spark

<b style="color: #3498db; font-size: 18px;">READ A CSV FILE</b>

In [3]:
df_pyspark=spark.read.csv('test5.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name|  Department|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

<b style="color: #3498db; font-size: 18px;">GROUPBY</b>

In [4]:
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [5]:
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [7]:
df_pyspark.groupBy('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

<b style="color: #3498db; font-size: 18px;">AGGR</b>

In [8]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [12]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [13]:
df_pyspark.agg({'department':'count'}).show()

+-----------------+
|count(department)|
+-----------------+
|               10|
+-----------------+