In [2]:
import pyspark

In [8]:
import pandas as pd
data=pd.read_csv("test1.csv")
data

        Name  Age
0      Krish   31
1  Subhanshu   30
2      Sunny   29
3       Paul   24
4     Harsha   21
5    Shubham   23

In [3]:
from pyspark.sql import SparkSession

In [9]:
spark=SparkSession.builder.appName('Practice').getOrCreate()
spark

In [10]:
df_pyspark=spark.read.csv('test1.csv')
df_pyspark

DataFrame[_c0: string, _c1: string]

In [15]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)